<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>shop car</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/shopCar.css">
    <script src="../js/shopCar.js" type="module"></script>
</head>

<body>
    <div class="banner"></div>
    <!-- par list -->
    <div class="par_list">
        <ul>
            <li>
                <img class="my-photo" alt="loading" data-src="http://lorempixel.com/220/200/abstract">
                <p class="title">2015夏季新品海澜之家男装正品1</p>
                <p class="jg">
                    <font>$193.0</font>
                    <span>加入購物車</span>
                </p>
            </li>
            <li>
                <img class="my-photo" alt="loading" data-src="http://lorempixel.com/220/200/abstract">
                <p class="title">2015夏季新品海澜之家男装正品2</p>
                <p class="jg">
                    <font>$175.0</font>
                    <span>加入購物車</span>
                </p>
            </li>
            <li>
                <img class="my-photo" alt="loading" data-src="http://lorempixel.com/220/200/abstract">
                <p class="title">2015夏季新品海澜之家男装正品3</p>
                <p class="jg">
                    <font>$389.0</font>
                    <span>加入購物車</span>
                </p>
            </li>
            <li>
                <img class="my-photo" alt="loading" data-src="http://lorempixel.com/220/200/abstract">
                <p class="title">2015夏季新品海澜之家男装正品4</p>
                <p class="jg">
                    <font>$499.0</font>
                    <span>加入購物車</span>
                </p>
            </li>
            <li>
                <img class="my-photo" alt="loading" data-src="http://lorempixel.com/220/200/abstract">
                <p class="title">2015夏季新品海澜之家男装正品1</p>
                <p class="jg">
                    <font>$193.0</font>
                    <span>加入購物車</span>
                </p>
            </li>
            <li>
                <img class="my-photo" alt="loading" data-src="http://lorempixel.com/220/200/abstract">
                <p class="title">2015夏季新品海澜之家男装正品2</p>
                <p class="jg">
                    <font>$175.0</font>
                    <span>加入購物車</span>
                </p>
            </li>
            <li>
                <img class="my-photo" alt="loading" data-src="http://lorempixel.com/220/200/abstract">
                <p class="title">2015夏季新品海澜之家男装正品3</p>
                <p class="jg">
                    <font>$389.0</font>
                    <span>加入購物車</span>
                </p>
            </li>
            <li>
                <img class="my-photo" alt="loading" data-src="http://lorempixel.com/220/200/abstract">
                <p class="title">2015夏季新品海澜之家男装正品4</p>
                <p class="jg">
                    <font>$499.0</font>
                    <span>加入購物車</span>
                </p>
            </li>
            <li>
                <img class="my-photo" alt="loading" data-src="http://lorempixel.com/220/200/abstract">
                <p class="title">2015夏季新品海澜之家男装正品1</p>
                <p class="jg">
                    <font>$193.0</font>
                    <span>加入購物車</span>
                </p>
            </li>
            <li>
                <img class="my-photo" alt="loading" data-src="http://lorempixel.com/220/200/abstract">
                <p class="title">2015夏季新品海澜之家男装正品2</p>
                <p class="jg">
                    <font>$175.0</font>
                    <span>加入購物車</span>
                </p>
            </li>
            <li>
                <img class="my-photo" alt="loading" data-src="http://lorempixel.com/220/200/abstract">
                <p class="title">2015夏季新品海澜之家男装正品3</p>
                <p class="jg">
                    <font>$389.0</font>
                    <span>加入購物車</span>
                </p>
            </li>
            <li>
                <img class="my-photo" alt="loading" data-src="http://lorempixel.com/220/200/abstract">
                <p class="title">2015夏季新品海澜之家男装正品4</p>
                <p class="jg">
                    <font>$499.0</font>
                    <span>加入購物車</span>
                </p>
            </li>
            <li>
                <img class="my-photo" alt="loading" data-src="http://lorempixel.com/220/200/abstract">
                <p class="title">2015夏季新品海澜之家男装正品1</p>
                <p class="jg">
                    <font>$193.0</font>
                    <span>加入購物車</span>
                </p>
            </li>
            <li>
                <img class="my-photo" alt="loading" data-src="http://lorempixel.com/220/200/abstract">
                <p class="title">2015夏季新品海澜之家男装正品2</p>
                <p class="jg">
                    <font>$175.0</font>
                    <span>加入購物車</span>
                </p>
            </li>
            <li>
                <img class="my-photo" alt="loading" data-src="http://lorempixel.com/220/200/abstract">
                <p class="title">2015夏季新品海澜之家男装正品3</p>
                <p class="jg">
                    <font>$389.0</font>
                    <span>加入購物車</span>
                </p>
            </li>
            <li>
                <img class="my-photo" alt="loading" data-src="http://lorempixel.com/220/200/abstract">
                <p class="title">2015夏季新品海澜之家男装正品4</p>
                <p class="jg">
                    <font>$499.0</font>
                    <span>加入購物車</span>
                </p>
            </li>
            <li>
                <img class="my-photo" alt="loading" data-src="http://lorempixel.com/220/200/abstract">
                <p class="title">2015夏季新品海澜之家男装正品1</p>
                <p class="jg">
                    <font>$193.0</font>
                    <span>加入購物車</span>
                </p>
            </li>
            <li>
                <img class="my-photo" alt="loading" data-src="http://lorempixel.com/220/200/abstract">
                <p class="title">2015夏季新品海澜之家男装正品2</p>
                <p class="jg">
                    <font>$175.0</font>
                    <span>加入購物車</span>
                </p>
            </li>
            <li>
                <img class="my-photo" alt="loading" data-src="http://lorempixel.com/220/200/abstract">
                <p class="title">2015夏季新品海澜之家男装正品3</p>
                <p class="jg">
                    <font>$389.0</font>
                    <span>加入購物車</span>
                </p>
            </li>
            <li>
                <img class="my-photo" alt="loading" data-src="http://lorempixel.com/220/200/abstract">
                <p class="title">2015夏季新品海澜之家男装正品4</p>
                <p class="jg">
                    <font>$499.0</font>
                    <span>加入購物車</span>
                </p>
            </li>
            <li>
                <img class="my-photo" alt="loading" data-src="http://lorempixel.com/220/200/abstract">
                <p class="title">2015夏季新品海澜之家男装正品1</p>
                <p class="jg">
                    <font>$193.0</font>
                    <span>加入購物車</span>
                </p>
            </li>
            <li>
                <img class="my-photo" alt="loading" data-src="http://lorempixel.com/220/200/abstract">
                <p class="title">2015夏季新品海澜之家男装正品2</p>
                <p class="jg">
                    <font>$175.0</font>
                    <span>加入購物車</span>
                </p>
            </li>
            <li>
                <img class="my-photo" alt="loading" data-src="http://lorempixel.com/220/200/abstract">
                <p class="title">2015夏季新品海澜之家男装正品3</p>
                <p class="jg">
                    <font>$389.0</font>
                    <span>加入購物車</span>
                </p>
            </li>
            <li>
                <img class="my-photo" alt="loading" data-src="http://lorempixel.com/220/200/abstract">
                <p class="title">2015夏季新品海澜之家男装正品4</p>
                <p class="jg">
                    <font>$499.0</font>
                    <span>加入購物車</span>
                </p>
            </li>

        </ul>

    </div>
    <div class="carbox">
        <div class="left">
            <span>加入購物車</span>
        </div>
        <div class="con">
            <!-- <dl>
                <dt>
                    <img class="my-photo" src="images/1.jpg" width="60" height="60" alt="美女" />
                </dt>
                <dd class="ti">2015夏季新品海澜之家男装正品1</dd>
                <dd class="money">$193.0</dd>
            </dl> -->
        </div>
    </div>

</body>

</html>